table, td, th {
    border: 1px solid black;
    border-color:#008000;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr.sansserif {
    font-family:"Candara", sans-serif;
}

th {
    background-color: #008000;
    color: white;
}